/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:100%;
	text-align: left;
	background:url(../images/snow.jpg)no-repeat;
    background-position:0px 0px;
}
.video {
    background-position:0px 0px;
	text-align: left;
	min-height: 100%;
	background-size:cover;
	/*min-height:900px;*/
	/*background-position:center;
	background-attachment:fixed;--*/
}
h1,h2,h3,h4,h5,h6,input,p,a,select{
	font-family: 'Amaranth', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover,body a{
	text-decoration:none;
}
a{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
} 
/*-- main --*/
.clearfix{
	clear:both;
}
.text-center{text-align:center;}
.center-container {
    padding: 0;
    background: rgba(0, 0, 0, 0.62);
}
.main{
	padding:2.25em 0;
}
.main h1{
	text-align: center;
    color:#fff;
    font-size: 2.8em;
    margin: 0em 0 1em;
    text-transform: uppercase;
    letter-spacing: 5px;
}
/*-- //main --*/
.w3_agile_main_grids{
	width: 28%;
    margin: 0 auto;
}
.agileinfo_main_grid_right_grid{
	padding:1.4em;
}
.w3_agileits_main_grid_right {
	 background: rgba(19, 18, 18, 0.6);
}
.w3_main_grid_1{
	width:33%;
	float:left;
}
#w3time {
    font-size: 2em;
    color: #caeeff;
    font-weight: 600;
	width:40%;
	float:left;
}
.w3layouts_date_year {
    font-size: 1em;
	color:#fff;
	width:60%;
	float:right;
	text-align:right;
	padding-top:0.6em;
}
.w3layouts_main {
    padding: 0.6em;
    background: #2388b9;
}
.img-text {
    position: absolute;
    top: -16%;
    text-align: center;
    padding: 5em 0;
    width: 10%;
    background: rgba(0, 0, 0, 0.62);
}
.w3layouts_head {
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 2em;
}
ul.w3ls-sub-grid1 li {
    color: #fff;
    display: block;
    font-size: 1em;
	margin:1em 0;
	text-align:center;
}
.w3_main_grid_l {
    width: 33.33%;
    float: left;
}
.img-text h3 {
    color: #fff;
    font-size: 1.7em;
}
.img-text p {
    color: #fff;
    margin: 1em 0;
    font-size: 1em;
}
.img-text h4 {
    font-size: 4em;
    color: #fff;
}
 .agileits_copyright{
	text-align: center;
}
.agileits_copyright h2{
	font-size: 1em;
    color:#fff;
    line-height: 1.8em;
    padding: 0 1em;
    text-transform: capitalize;
	margin-top: 2em;
	letter-spacing:0.5px;
}
.agileits_copyright  a {
    color:#fff;
}
.agileits_copyright  a:hover {
    color: #2388b9;
}
