
body{
	font-size: 100%;
  font-family: 'Amarnath', sans-serif;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height:100%;
	text-align: left;
	background:url(../images/snow.jpg)no-repeat;
    background-position:0px 0px;
}

h1{
	font-family: 'Dancing script', sans-serif;
	font-size: 60px;
	margin:0;
}
h5
{
		font-family: 'Dancing script', sans-serif;
	font-size: 40px;
	margin:0;

}
h4
{
		font-family: 'Dancing script', sans-serif;
	font-size: 30px;
	margin:0;

}
.bg1
{
	background:url(../images/gra.gif)no-repeat;

}
.fs
{
	font-size: 50px;
	color: white;
}